<html lang="en">
    <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
        <style>
            .bottom-right { 
                  bottom: 10%; 
                  right: 5%; 
              } 
        </style>
     
    </head>
    <body>
    
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Grasp It Up</a>
        </div>
        <form class="navbar-form navbar-left" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a [routerLink]="['/login']" class="btn btn-link">logout</a></li>
    
        </ul>
        
      </div>
    </nav>
    <body>
        
    </body>