<!--<div class="container" style="color:white;background-color: teal; "><br><h3>Grasp It Up</h3><small style="font-size:20px;  cursor:pointer;text-decoration:underline;color:white " class="float-right btextual" [routerLink]="['/login']"><b>LOGIN</b> [routerLink]="['/registration']"><p>New user? <b style="text-decoration:underline">Register</b></p></small>-->
    <!--<small style="font-size:20px;color:white; cursor: pointer;" class="float-right"[routerLink]="['/registration']"><p>New user? <b style="text-decoration:underline">Register</b></p></small>-->
 <!---   <br>-->
  
 <router-outlet></router-outlet>